<style amp-custom>
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}        @font-face {
src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('truetype');;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-style: normal;
}
body {
font-family:'Roboto', sans-serif;
line-height: 1.4;
}
a {
text-decoration: none;
color: #000;
}
amp-img {
display: block;
max-width: 100%;
}      
.thumb-img {
position: relative;
height: 100%;
overflow: hidden;
}
.thumb-item {
display: block;
width: 100%;
height: 100%;
position: relative;
}

.thumb-5x3 {
padding-bottom: 60%;
}
.thumb-item amp-img {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}
.scrollTop {
position: fixed;
bottom: 1.25rem;
right: 1.25rem;
background-color: #cc1818de;
padding: 0.625rem 0.9375rem;
border-radius: 6px;
transition: all 0.4s ease-in-out 0s;
z-index: 100;
}
.scrollTop i {
color: #fff;
}

.show-search {
position: fixed;
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
right: 0;
z-index: 1000;
width: 100%;
/*height: 100%;*/
overflow-y: auto;
box-shadow: 0 1px 0 0 rgb(139 141 157 / 5%), 0 5px 18px 0 rgb(65 71 108 / 22%);
transition: 0.2s ease;
-webkit-transition: 0.2s ease;
-moz-transition: 0.2s ease;
-ms-transition: 0.2s ease;
-o-transition: 0.2s ease;
}

#search-popup:target{
opacity: 1;
visibility: visible;
}
.show-menu {
position: fixed;
top: 0;
left: -100%;
opacity: 0;
right: 0;
background: #222222ab;
z-index: 1001;
width: 100%;
height: 100%;
overflow-y: auto;
transition: all 0.2s ease;
will-change: left, opacity;
}
#menu-popup:target {
left: 0;
opacity: 1;
}
.icon-menu__close{

text-align: right;
text-align: -webkit-right;
}
.icon-menu__close i {
font-size: 23px;
color: #666;
}
.slide-menu__list>li {
padding: 0.325rem 0;
}
.input-group.dropdown-item{
padding-left: 0.25rem;
padding-right: 0.25rem;
border-radius: 0.325rem;
}
.input-group {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
-ms-flex-align: stretch;
align-items: stretch;
width: 100%;
}
.dropdown-item {
/*display: block;*/
width: 100%;
padding: .25rem 1.5rem;
clear: both;
font-weight: 400;
color: #212529;
text-align: inherit;
white-space: nowrap;
background-color: transparent;
border: 0;
}
.form-control {
font-size: 0.9375rem;
width: 93%;
height: 1.875rem ;
padding: 2px 0.325rem;
border: none;
outline: none;
}
.input-group-append {
margin-left: -1px;
}
.input-group-append, .input-group-prepend {
display: -ms-flexbox;
display: flex;
}

.btn {
display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: 0 .25rem .25rem 0;
transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn.btn-outline-secondary {
padding: 2px 0.325rem ;
cursor: pointer;
}
.btn-outline-secondary {
border-color: none;
}
.btn-outline-secondary {
color: #6c757d;
border-color: none;
}
[type=button], [type=reset], [type=submit], button {
-webkit-appearance: button;
}

.dropdown-intro {
display: flex;
align-items: center;
justify-content: space-between;
padding-top: 0.325rem;
padding-bottom: 0.625rem;
}
.dropdown-intro__title {
font-weight: 600;
}
.dropdown-intro-list__item {
padding: 0.325rem 0.625rem 0.625rem;
font-size: 0.875rem;
}
.dropdown-intro-list {
opacity: 1;
position: relative;
}
ul > li > input[type=checkbox] {
position: absolute;
cursor: pointer;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
}
ul > li > input[type=checkbox]:checked ~ .dropdown-intro-list {
margin-top: 0;
max-height: 0;
opacity: 0;
transform: translate(0, 50%);
}
ul > li > input[type=checkbox]:checked ~ .dropdown-intro i {
transform: rotate(180deg);
}
.header-mb {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0.325rem 0;
}
.logo-home__mb-title {
display: flex;
align-items: center;
}
.logo-home__mb-title > span {
text-transform: uppercase;
font-size: 1rem;
font-weight: 600;
padding-left: 8px;
}
.menu-list-popup {
padding: 1.25rem 1rem 1rem 50px;
width: 250px;
position: absolute;
bottom: 0;
top: 0;
}

.menu-list__title {
margin-bottom: 0.9375rem;
}
.menu-list-box {
text-align: left;
/* padding-left: 15px; */
width: max-content;
}

.menu-list__title a {
text-transform: uppercase;
font-weight: bold;
}
/*.menu-list__title a:before {
content: "";
border-left: 0.25rem solid #fff;
padding-right: 0.625rem
}*/
.menu-items-popup a {
line-height: 1.875rem;
font-weight: 400;
font-style: normal;
padding-left: 0.625rem;
}
.slide-menu__search {
width: 80%;
margin: auto;
}
.menu-list__content {
margin-bottom: 0.9375rem;
transform: translateY(-0.9375rem);
}
.ind-box1 {
display: grid;
grid-template-columns: calc(20rem - 1.25rem)  calc(31.875rem - 1.25rem) 15.625rem;
grid-gap: 1.25rem;
padding: 1.25rem 0;
}
.ind-box1__left-items {
display: flex;
width: 100%;
border-top: 1px solid #8080803b;
padding-bottom: 0.9375rem;
padding-top: 0.9375rem;
}
.ind-box1__left-items:first-child {
padding-top: 0;
border-top: none;
}
.ind-box1__left-content {
width: 45%;
height: 100%;
object-fit: cover;
}
.ind-box1__left-text {
width: 55%;
padding-left: 0.625rem;
color: var(--Grayscale-333, #333);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 150%;
margin-top: 0;

}
.ind-box1__left-text a {
font-weight: 400;
font-size: 0.875rem;
font-style: normal;
}
.ind-box1__center-title {
padding-top: 0.9375rem;
font-size: 1.5rem;
font-weight: 600;
font-style: normal;
}
.ind-box1__center-sapo {
font-size: 1rem;
font-weight: 400;
font-style: normal;
padding-top: 0.625rem;
}
.ind-box1__right-items {
padding-bottom: 1.25rem;
}
.ind-box1__right-title {
font-size: 1rem;
font-style: normal;
}
.ind-box2 {
display: grid;
grid-template-columns: 47.5rem 18.75rem;
grid-gap: 1.25rem;
border-top: 1px solid #8080803b;
padding-top: 1.25rem;
}
.ind-box2--pt0 {
padding-top: 0;
}
.ind-box2__left-items {
width: 100%;
display: flex;
border-top: 1px solid #8080803b;
padding-top: 0.9375rem;
padding-bottom: 0.9375rem;
}
.ind-box2__left-items:first-child{
padding-top: 0;
border-top: none;
}
.ind-box2__left-content {
width: calc(40% - 4px);
height: 100%;
object-fit: cover;
}
.ind-box2__left-text {
width: calc(60% - 1.25rem);
padding-left: 1.25rem;
}
.ind-box2__left-title {
font-size: 1.25rem;
font-weight: 600;
font-style: normal;
}
.ind-box2__left-time {
font-size: 0.875rem;
font-weight: 400;
font-style: normal;
padding-top: 8px;

}
.ind-box2__left-time > span > a{
color: #993333; 
}
.ind-box2__left-time span:last-of-type {
color: #777777;
}
.ind-box2__left-des {
font-weight: 400;
font-style: normal;
font-size: 0.875rem;
color: #000;
padding-top: 8px;
}
.ind-box2-right-news__title {
font-size: 1.5rem;
font-weight: 600;
font-style: normal;
border-left: 0.25rem solid #000;
line-height: 1;
padding-left: 7px;
}
.ind-box2-right-news__title  a {
color: #993333;
}
.ind-box2-right-news__items {
padding-top: 0.9375rem;
padding-bottom: 0.9375rem;
font-size: 0.875rem;
font-weight: 400;
font-style: normal;
border-top: 1px solid #8080803b;
}
.ind-box2-right-news__items:first-child{
border-top: none;
}
.button-play {
width: 36px;
height: 36px;
background: #A71F23;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
left: 0;
bottom: 0;
}
.footer-padding {
padding: 1.875rem 0;
}
.footer-row1__text {
padding-left: 1.25rem;
}
.footer-row1__text-title {
text-transform: uppercase;
padding-bottom: 0.625rem
}
.footer-row1__logo amp-img {
width: 90px;
height: auto;
}
.footer-row1__logo-title {
display: none;
}
.footer-row1-items--right {
text-align: end;
text-align: -webkit-right;
}
.footer-row1-items div {
padding-bottom: 0.325rem;
}
.footer-row2 {
padding-top: 0.9375rem;
padding-bottom: 0.9375rem;
border-top: 1px solid #8080803b;
border-bottom: 1px solid #8080803b;
margin: 0.9375rem 0;
}

.footer-row3-items + .footer-row3-items {
padding-left: 1.25rem;
}
.footer-row4 {
padding-top: 0.625rem;
}
.footer-row4 amp-img {
width: 7.5625rem;
height: auto;
margin: auto;
}
.ind-box2-qc {
position: sticky;
top: 0.3125rem;
}
.loading-img {
width: calc(40% - 4px);
height: 11.25rem;
}
.loading-title {
width: 100%;
height: 3.25rem;
}
.loading-time,
.loading-des {
width: 100%;
height: 1.375rem;
margin-top: 0.9375rem;
}
.ind-box2__left-items:last-child {
padding-bottom: 30px;
}
/*cate*/
.list-cate {
display: flex;
align-items: baseline;
padding: 0.9375rem 0;
}
.list-cate__items + .list-cate__items {
padding-left: 15px;
}
.list-cate__items {
font-size: 1rem;
font-weight: 400;
font-style: normal;
}
.list-cate__items a,
.list-cate__items i {
color: #222;
}
.list-cate__items--parent {
font-size: 1.5rem;
font-weight: 600;
}
.list-cate__items--child.active a {
color: #993333;
font-weight: 600;
}
.cate-box3 {
display: grid;
grid-template-columns: 1fr;
grid-gap: 1.25rem;
grid-template-rows: auto;
}
.cate-box3-row1 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1.25rem;
grid-template-rows: 1fr;
}
.cate-box3-row2 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 1.25rem;
grid-template-rows: 1fr;
}
.cate-box3-row1-img {
grid-column: 1/3;
grid-row: 1/2;
}
.cate-box3-row1-content {
grid-column: 3/4;
grid-row: 1/2;
}
/*end cate*/



/*detail*/
.detail-content {
color: #333;
font-family: arial;
font-size: 18px;
font-weight: 400;
font-style: normal;
padding-bottom: 1.5rem;
}
.detail-list-category{
padding-top: 2.5rem;
padding-bottom: 1.875rem;
text-align: center;
color: #333;
}
.detail-list-category span a {
color: #A71F23;
font-weight: 600;
}
.detail-title {
font-family: Arial, 'Roboto',sans-serif;
font-size: 2rem;
font-weight: 600;
font-style: normal;
text-align: center;
}
.detail-sapo {
padding: 15px 0;
}
.detail-content  p,
.detail-content  h1,
.detail-content  h2,
.detail-content  h3,
.detail-content  h4,
.detail-content  h5,
.detail-content  h6,
.detail-content  blockquote,
.detail-content .suggest_post,
.detail-content .blockquote
{
max-width: 41.875rem;
margin: auto;
margin-bottom: 1.25rem;
}
.detail-content > p a {color: #2e6818;}
.detail-content > p a:hover {text-decoration: underline;}
.detail-content > .blockquote {
background: #F5F5F5;
padding: 13px 20px;
}
figure {
margin-top: 0.9375rem;
margin-bottom: 0.9375rem;
text-align: center;
}
figure figcaption {
background: #f7f7f7;
/*max-width: 670px;*/
text-align: center;
margin: auto;
font-size: 16px;
font-family: Arial, 'Roboto',sans-serif;
padding: 5px 0;
position: absolute;
bottom: 0;
z-index: 100;
width: 100%;
right: 0;
left: 0;
}
.suggest_post.explus_related_1404022217 {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 15px 0;}
.suggest_post .explus_related_1404022217_letter {display: none}
.suggest_post .suggest_child {padding: 5px 0;padding-left: 22px;position: relative}
.suggest_post .suggest_child a{
font-size: 15px;
line-height: 25px;
color: #545454;
text-decoration: none;
font-weight: 600;
}
.suggest_post .suggest_child:before{
content: "";
width: 4px;
height: 4px;
position: absolute;
left: 8px;
top: 17px;
background: #e10000;
font-size: 6px;
}

.detail-hot-news {
padding-top: 1.5rem;
}
.detail-hot-news > div:nth-child(2){
border-top: none;
}
.detail-tag.w-670 {
display: flex;
align-items: center;
flex-wrap: wrap;
}
.detail-tag__icon {
padding-right: 0.625rem;
}
.detail-tag__content a span {
color:#4F4F4F;
font-family: Arial, 'Roboto',sans-serif;
padding-right: 0.625rem;
}
.detail-tag__content a span:before {
content: '#';
}
.detail-author {
text-align: end;
padding-top: 0.625rem;
}
/*end detail*/

/*seach*/
.search-box {
border-top: none;
padding-top: 4.375rem;
}
.result-search > div:first-of-type {
border-top: none;
padding-top: 1.25rem;
}
.form-control--result {
width: 92%;
height: 53px;
font-size: 20px;
font-weight: 600;
margin-left: 0.625rem;
background: transparent;
}
.search-result {
border:  1px solid #333;
margin-bottom: 3rem;
border-radius: 6px;
}
.btn--result {

}
/*end seach*/

section.block-master {
margin-top: 30px;
margin-bottom: 20px;
border-bottom: 1px solid #8080803b;
}
.remarkable-title {
font-size: 20px;
font-weight: 600;
padding-bottom: 15px;
text-transform: uppercase;
}

.perspective {
width: 250px;
padding-left: 20px;
border-left: 1px solid #8080803b;
background-image: linear-gradient(to right, #f6f6f6,#fff);
}
.remarkable {
/*width: 100%;*/
/*padding-right: 20px;*/
}

.remarkable-list {
padding-bottom: 20px;
}
.remarkable-item-title {
font-size: 15px;
font-weight: 600;
margin-top: 8px;
}
.remarkable-item{
    display: flex;
    padding-bottom: 20px;
}
.ind-box2-right--pt-15,
.remarkable-title--pt20 {

}
.ind-box2-right{
    padding-top: 30px;
}
.perspective-items {
background-color: #e9f2f8;
padding: 10px;
margin-bottom: 30px;
position: relative;
}

/*.perspective-items:last-child {
margin-bottom: 0;
}*/

.perspective-items-icon {
position: absolute;
top: -13px;
left: 50%;
background: #e9f2f8;
width: 30px;
height: 30px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.perspective-items-title {
margin-top: 10px;
margin-bottom: 45px;
min-height: 45px;
}
.perspective-items-title a {
font-size: 16px;
font-weight: 600;
color: #434343;
}
.perspective-items-img {
width: 90px;
position: absolute;
right: 0;
bottom: 0;
}
.perspective-items-author {
margin-top: 10px;
font-size: 13px;
font-weight: 600;
}
.perspective-items-author a {
color: #4e6c95;
}







.text-upper {
text-transform: uppercase;
}
.flex-items {
display: flex;
align-items: center;
justify-content: center;
}
.flex-between {
display: flex;
align-items: center;
justify-content: space-between;
}
.w-1140 {
max-width: 112.5rem;
margin: auto;
}
.w-1080 {
max-width: 67.5rem;
margin: auto;
}
.w-670 {
max-width: 41.875rem;
margin: auto;
}
.bg-pink_500 {
background: #F0EFF4;
}
.bg-white {
background: #fff;
}
.text-gray__500,
.text-gray__500 a {
color: #555;
}
.text-white,
.text-white a {
color: #fff;
}
.text-red_600,
.text-red_600 a {
color: #993333;
}
.fs-10 {
font-size: 0.625rem;
}
.fs-12 {
font-size: 0.75rem;
}
.fs-14 {
font-size: 0.875rem;
}
.fs-15 {
font-size: 0.9375rem;
}
.fs-16 {
font-size: 1rem;
}
.fs-18 {
font-size: 1.125rem;
}
.fs-20 {
font-size: 1.25rem;
}
.fs-24 {
font-size: 1.5rem;
}
.f-600 {
font-weight: 600;
}



div.menu-items-popup a {
padding-left: 16px;
}
.header-fixed-t {
position: fixed;
left: 0;
right: 0;
top: 0;
z-index: 1000;
}        
main {
padding-top: 78px;
}
.box-tag-trending {
width: 100%;
display: flex;
margin-bottom: 20px;
padding-top: 20px;
border-top: 1px solid #e2e2e2;
}

.title-btt {
width: 30px;
display: flex;
margin-right: 15px;
}

.title-btt amp-img {
width: 25px;
}

.list-btt a.item-btt {
margin-right: 10px;
border-radius: 5px;
border: 1px solid #585c04;
padding: 0px 7px;
display: inline-block;
}        @media screen and (max-width: 1199px) {
.header-mb {
padding-left: .9375rem;
padding-right: .9375rem;
}
}

@media screen and (max-width: 991px) {
.menu-list-popup {
padding-left: 1rem;
}
.ind-box1 {
grid-template-columns: 1fr;
padding-left: 0.9375rem;
padding-right: 0.9375rem;
padding-bottom: 0;
grid-gap: 0;
}
.header-mb{
padding-left: 0.9375rem;
padding-right: 0.9375rem;
}
.ind-box1__center {
order: 1;
}
.ind-box1__left {
order: 2;
}
.ind-box1__right {
order: 3;
}
.ind-box1__center {
padding-bottom: 1.25rem;
}
.ind-box1__right-items {
display: flex;
width: 100%;
border-top: 1px solid #8080803b;
padding-bottom: 0.9375rem;
padding-top: 0.9375rem;
}
.ind-box1__right-content {
width: 45%;
height: 100%;
object-fit: cover;
}
.ind-box1__right-text {
width: 55%;
padding-left: 0.625rem;
color: var(--Grayscale-333, #333);

/* Headline / 16 */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
margin-top: 10px;
padding-top: 0;
padding-bottom: 0;
}
.ind-box1__left-text a {
font-size: 1rem;
font-weight: 600;
}
.ind-box1__right-title {
padding-top: 0;
font-weight: 600;
}
.ind-box2-left {
padding-right: 0.9375rem;
padding-left: 0.9375rem;
}
.ind-box2-right,
.ind-box2__left-time,
.ind-box2__left-des,
.footer-row1__text-title,
.loading-time,
.loading-des {
display: none;
}
.ind-box2__left-text {
width: 55%;
padding-left: 0.625rem;
}
.ind-box2__left-content {
width: 45%;
}
.ind-box2__left-title {
font-size: 1rem;
}
.ind-box2 {
border-top: none;
padding-top: 0;
grid-template-columns: 1fr;
}
.ind-box2__left-items:first-child {
padding-top: 0.9375rem;
border-top: 1px solid #8080803b;
}
.footer-row1.flex-between {
display: block;
padding-left: 0.9375rem;
padding-right: 0.9375rem;
}
.footer-row1__text {
padding-left: 0;
}
.footer-row1-items{
display: block;
}
.footer-row1__logo-title {
display: block;
padding-left: 0.9375rem;
}
.footer-row1__logo-a {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 0.9375rem;
}
.footer-row1__text-sapo {
font-size: 0.875rem;
}
.footer-row1-items--right {
text-align: unset;
font-size: 0.875rem;
}
.footer-row2 {
flex-wrap: wrap;
padding-left: 0.9375rem;
padding-right: 0.9375rem;
justify-content: center;
}
.footer-row2-items {
padding-right: 1.25rem;
padding-bottom: 0.9375rem;
}
.footer-row4 {
text-align: center;
padding-left: 0.9375rem;
padding-right: 0.9375rem;
}
.loading-img {
height: 5.625rem;
}
/*cate*/
.list-cate {
white-space: nowrap;
padding: 0.9375rem;
flex-wrap: nowrap;
overflow-x: auto;
}
.cate-box3-row1 {
grid-template-columns: 1fr;
grid-gap: 0;
}
.cate-box3-row1-img,
.cate-box3-row1-content{
grid-column: unset;
grid-row: unset;
}
.cate-box3-row2 {
grid-template-columns: 1fr;
grid-gap: 0;
}
section.block-master {
grid-template-columns: 1fr;
grid-gap: 0;
border-bottom: none;
margin-bottom: 0;
}
.perspective {
width: 100%;
padding-left: 0px;
 border-left: none; 
 background-image: none; 
}
.perspective-items-img {
width: 120px;
}
.menu-list-box:nth-child(odd) {
padding-left: 15px;
}
.menu-list-box:nth-child(even) {
padding-right: 15px;
}
/*end cate


/*detail*/
.detail-content {
padding-left: 0.9375rem;
padding-right: 0.9375rem;
}
.detail-title {
line-height: 1.3;
text-align: left;
}
/*end detail*/
/*search*/

.form-control--result {
width: 80%;
}
.search-box {
padding-top: 2rem;
}
.search-result {
margin-bottom: 1rem;
}
/*end search*/

}
@media screen and (max-width: 769px) {
.form-control {
max-width: 91%;
}
.none-mobi-t{
display: none;
}
}
@media screen and (max-width: 576px) {
.form-control {
max-width: 84%;
}
}
@media screen and (max-width: 400px) {
.form-control {
max-width: 80%;
}
}        .image-header-ema img {
width: 100%;
}
.page-emagazine .content-img-tp .showImageTp{
background: 
}

.header-emagazine {
justify-content: space-between ;
width: 100%;
height: 50px;
background-color: #2b725e;
position: fixed;
top: 0;
left: 0;
display: flex;
padding: 0px 10px;
z-index: 9999;
transition: all 0.3s ease;
}
.he-left {
justify-content: start;
display: flex;
align-items: center;
}
.he-left .back-home {
display: flex;
cursor: pointer;
background-color: #2b725e;
width: 50px;
height: 100%;
align-items: center;
justify-content: center;
}
.he-left .back-home img {
filter: invert(1);
width: 38px;
}
.he-center {
display: flex;
justify-content: center;
align-items: center;
width: 150px;
}
.hec-logo a {
font-size: 29px;
color: #fff;
font-weight: 600;
font-family: NotoSerif;
}
.he-right {
display: flex;
justify-content: flex-end;
align-items: center;
}

.image-header-ema{
margin-top: 50px;
margin-bottom: 30px;
}
.page-emagazine {
margin-bottom: 30px;
}
.background-ema{
z-index: -1;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
.page-emagazine #content_detail{
width: 981px;
margin: 0 auto;
font-family: Arial;
}
.page-emagazine #content_detail p,
.page-emagazine #content_detail ul,
.page-emagazine #content_detail i,
.page-emagazine #content_detail b,
.page-emagazine #content_detail h2,
.page-emagazine #content_detail h3,
.page-emagazine #content_detail h4,
.page-emagazine #content_detail h5,
.page-emagazine #content_detail h6{
padding: 0 101px;
}
.page-emagazine #content_detail figure{
/*margin: 29px 0 !important;*/
margin: auto;
margin-bottom: 30px;
margin-top: 30px;
}
.page-emagazine .detail-action {
justify-content: end;
max-width: 981px;
margin-left: auto;
margin-right: auto;
}
.page-emagazine #content_detail p,
.page-emagazine #content_detail li,
.page-emagazine #content_detail em,
.page-emagazine #content_detail i,
.page-emagazine #content_detail strong,
.page-emagazine #content_detail b,
.page-emagazine #content_detail font{
font-size: 19px;
text-align: justify;
line-height: 25px;
}
.expNoEdit figcaption {
padding: 5px 10px;
background: #f0f0f000;
/*background: #f0f0f0;*/
margin: auto;
}

.detail-tag {
max-width: 981px;
margin: 20px auto;
}
.exp_box_3_image .exp_wrap.expEdit, .exp_box_2_image .exp_wrap.expEdit {
display: flex;
}
figure.expNoEdit img {
width: 100%;
/*width: auto;*/
}
#content_detail figure img {
margin: 0;
max-width: 100%;
height: auto;
}
#content_detail figure{
text-align: center;
}

#content_detail .exp_box_3_image .exp_wrap.expEdit img {
/* height: -webkit-fill-available;
object-fit: cover;*/
}
.page-emagazine #content_detail .exp_box_3_image .exp_wrap.expEdit figure.expNoEdit:nth-child(2n) {
margin: 30px 10px;
}
.page-emagazine #content_detail .exp_box_2_image .exp_wrap.expEdit figure.expNoEdit:first-child {
margin-right: 10px;
}
.expNoEdit.explus_related_1404022217_bottom.suggest_post {
display: none;
}
.page-emagazine #content_detail figure.expNoEdit.left, .page-emagazine #content_detail figure.expNoEdit.right {
width: 500px;
max-width: 100%;
float: left;
margin: 5px 20px 5px 0px;
}
.page-emagazine #content_detail figure.expNoEdit.right{
float: right;
margin: 5px 0px 5px 20px;
}
@media (max-width:1280px) {
.page-emagazine #content_detail{
width: 100%;
padding: 0px;
/*padding: 0 27px;*/
}
.page-emagazine #content_detail figure.expNoEdit.full {
margin-left: 0px ;
max-width: 100%;
}
}
@media (max-width:767px){
.page-emagazine #content_detail p{
padding: 0;
}
.page-emagazine #content_detail figure.expNoEdit.full {
margin-left: 0px ;
max-width: 100%;
}
.page-emagazine #content_detail>:not(.full) {
padding: 0px 27px;
}
.page-emagazine #content_detail figure.expNoEdit.left {
max-width: 100%;
float: none;
margin: 5px 0px 5px 0px;
}
}


.list-overflow[overflow] {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
/* source  */
#source {
    display: none;
    background: rgba(0, 0, 0, .9);
    border-radius: 6px;
    width: 300px;
    max-width: 300px;
    position: absolute;
    bottom: 50px;
    padding: 10px 12px;
    z-index: 999;
    right: 0;
    color: white;
    font: normal 14px Arial;
    word-break: break-word;
    transition: all .3s ease-in-out;
}

.info-footer {
    display: flex;
    align-items: center;
}

.info-footer amp-img {
    margin-right: 0.625rem;
}

#source_link {
    color: #888;
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 100px;
    padding: 9px 11px;
    display: block;
    font: normal 16px Arial;
    cursor: pointer;
}

div.w-670.fs-18 {
    position: relative;
}

.block-hover {
    display: flex;
    justify-content: flex-end;
}

.source-hover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.source-copy-t {
    cursor: pointer;
}

#source:before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 0px;
    background: transparent;
    width: 100%;
    height: 22px;
}

.source-link-t:before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: 30px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, .9);
}

.block-hover:hover #source {
    display: block;
}

#source a {
    color: white;
}

.detail-content > h2 {
    max-width: 41.875rem;
    margin: auto;
    margin-bottom: 1.25rem;
    font-weight: 600;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.detail-content > figure {
    max-width: 41.875rem;
    margin: 0 auto;
}
.detail-content figure {
    margin-bottom: 20px;
}
.detail-content figure figcaption * {
    margin: 0;
}
.detail-content figure figcaption {
    position: relative;
}
.ind-box1__center-text{
    color: var(--Grayscale-333, #333);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    /* Headline / 24 */
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 31.2px */
    letter-spacing: 0.48px;
    margin-top: 20px;
}
.ind-box1__center-sapo{
    color: var(--Grayscale-444, #444);
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%; /* 23.2px */
    margin-top: 20px;
}